body {
    background-color: #f771d5;
}

.pokemon-card {
    cursor: pointer;
    transition: transform 0.2s;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-img {
    width: 100%;
    height: auto;
}

.caught {
    border: 2px solid rgb(248, 171, 108);
}